.sectionOneDiv {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.sectionOneDiv h1 {
  opacity: 0;
  animation: glitchOpacity 0.8s ease-in forwards;
}

.sectionOneDiv h1:nth-of-type(1) {
  animation-delay: 0s;
}

.sectionOneDiv h1:nth-of-type(2) {
  animation-delay: 1s;
}

.sectionOneDiv h1:nth-of-type(3) {
  animation-delay: 5.5s; /* Give time for Traits to finish (5x0.4s = 2.0s) */
}

.traitsDiv {
  display: flex;
  gap: 40px;
}

.traitsDiv h1 {
  opacity: 0;
  animation: glitchOpacity 0.8s ease-in forwards;
  animation-delay: 2.5s; /* base delay for all */
}

.traitsDiv h1:nth-child(1) {
  animation-delay: calc(2.5s + 0s);
}

.traitsDiv h1:nth-child(2) {
  animation-delay: calc(2.5s + 0.4s);
}

.traitsDiv h1:nth-child(3) {
  animation-delay: calc(2.5s + 0.8s);
}

.traitsDiv h1:nth-child(4) {
  animation-delay: calc(2.5s + 1.25s);
}

.traitsDiv h1:nth-child(5) {
  animation-delay: calc(2.5s + 1.6s);
}

.sectionOneDivPart2 {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.sectionOneDivPart2 h1 {
  opacity: 0;
  animation: glitchOpacity 0.8s ease-in forwards;
  /* animation-delay: 10s;  */
  font-size: 60px;
  color: #e0e0e0;
}

.sectionOneDivPart2 h1:nth-child(1) {
  animation-delay: calc(1s + 0s);
}

.sectionOneDivPart2 h1:nth-child(2) {
  animation-delay: calc(1s + 1s);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes glitchOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.6;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
