.main {
    width: 100%;
    height: 100vh;
    background-color: #0D0D0D;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popUpText h1 {
    font-size: 70px;
    text-align: center;
}

.slideUp {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 1s ease-out forwards;
  }
  
  @keyframes slideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .slideUp1 {
    animation-delay: 0s;
  }
  
  .slideUp2 {
    animation-delay: 1s;
  }
  
  .slideUp3 {
    animation-delay: 2s;
  }

  .fade {
    opacity: 1;
    transition: opacity 0.6s ease;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .fade-in {
    opacity: 1;
  }
  