
.button {
    border: none;
    padding: 5px;
    font-size: 28px;
    border-radius: 5px;
    width: 30%;
    font-weight: 500;
    height: 60px;
    margin: 20px;
    background-color: #323232;
    color: #c3d4bc;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    opacity: 0;
    /* transform: translateY(20px) scale(0.95); */
    animation: glitchFlicker 0.6s ease-out forwards, opacityStutter 0.6s ease-out forwards;
    animation-delay: 0.2s;
    position: relative;
    cursor: pointer;
    transition: transform 1s ease; 
}

.button:hover {
    transform: scale(1.07); 
    /* No box-shadow change */
    animation: opacityStutter 0.4s ease-out forwards;
}

 
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    pointer-events: none;
    animation: cardFlash 0.4s ease-out forwards; 
}


@keyframes opacityStutter {
    0% { opacity: 0; }
    20% { opacity: 0.5; }
    40% { opacity: 0.2; }
    60% { opacity: 0.7; }
    80% { opacity: 0.4; }
    100% { opacity: 1; }
}

@keyframes cardFlash {
    0% { opacity: 0.6; }
    50% { opacity: 0.2; }
    100% { opacity: 0; }
}

@media (max-width: 768px) {
    .button  {
      width: 80%;
      font-size: 20px;
    }
  }