.main {
    background-color: #0D0D0D;
    width: 100%;
    height: 100vh;
}

.main h1 {
    color: #c3d4bc;
    font-size: 40px;
    margin: 1%;
}

.main h2 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    margin: 1%;
}

.main p {
    color: #ffffff;
    margin: 1%;
    width: 100%;
    font-size: 20px;
}

.main h4 {
    color: red;
    font-size: 35px;
    font-weight: 600;
    margin: 1%;
}

.visual {
    background-color: grey;
    padding: 1%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
    /* height: 100%; */
}
