.main {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.main::-webkit-scrollbar {
  display: none; 
}

html:has(.main),
body:has(.main) {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html:has(.main)::-webkit-scrollbar,
body:has(.main)::-webkit-scrollbar {
  display: none;
}


.main {
  background-color: #0D0D0D;
  width: 100%;
  height: 100vh;
  position: relative; 
  color: #c3d4bc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
} 

.titleText {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}


.titleText h1, .titleText h2 {
  padding: 0;
  margin: 0;
  opacity: 0;
  animation: glitchOpacity 0.8s ease-in forwards;
}

.titleText h1 {
  animation-delay: 1s;
}

.titleText h2 {
  animation-delay: 2s;
}

.titleText h1 {
  font-size: 96px;
}

.titleText h2 {
  font-size: 60px;
}

.buttonWrapper {
  width: 100%;
  height: 15%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  margin: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: glitchOpacity 0.8s ease-in forwards;
  animation-delay: 3s;
}

.footer {
  height: 5vh;
  color: #e0e0e0;
  background-color: rgb(36, 36, 36);
}

@keyframes glitchOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.6;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .titleText h1 {
    font-size: 45px;
  }
  .titleText h2 {
    font-size: 30px;
  }
  .buttonWrapper {
    padding-top: 10%;
  }
}