.spinner {
  width: 23px;
  height: 23px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-left-color: #ffffff; /* or any accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: none;
  padding: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
