.main {
  background-color: #323232;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1%;
  border-radius: 10px;
  margin: 1%;
  width: 20%;
  color: white;
}

.modelName {
  font-size: 28px;
  color: rgb(223, 223, 223);
}

.modelResult {
  font-size: 30px;
}

.accuracyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  max-height: 0;
  overflow: hidden;
  margin-top: 5%;
  transition: opacity 0.5s ease, transform 0.5s ease, max-height 0.5s ease;
}

.accuracyDivActive {
  opacity: 1;
  transform: translateY(0);
  max-height: 200px; /* Set higher than needed to allow for expansion */
}

.accuracyText {
    font-size: 30px;
}

.accuracyNotes {
    font-size: 16px;
}