.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  width: 100%;
  padding-top: 2%;
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: 0.2s;
  text-align: center;
}

.pageTitle h1 {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
}

.lastPageResults {
  width: 100%;
  margin-top: 1%;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.lastPageResultsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}

.lastPageResultsSection:nth-child(1) {
  animation-delay: 0.8s;
}

.lastPageResultsSection:nth-child(2) {
  animation-delay: 1s;
}

.lastPageResultsSection:nth-child(3) {
  animation-delay: 1.2s;
}

.dataHeader {
  font-size: 25px;
  text-align: center;
}

.dataText {
  font-size: 30px;
  text-align: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
