.container {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: purple;
  height: 100vh;
  transition: all 0.5s ease;
}

.box {
transition: flex 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: green;
  border: 1px solid #ccc;
}

.webcamDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(234, 234, 234);
  width: 50vw;
  height: 100vh;
  
}

.webcam {
  border-radius: 10px;
}

.takeButtonDiv {
    width: 55%;
    height: 6%;
    margin-top: 2%;
    transition: transform 0.3s ease;
}

.takeButton {
    width: 100%;
    height: 100%;
    background-color: rgb(86, 146, 212);
    border: 0;
    border-radius: 10px;
}

.takeButton:hover {
    cursor: pointer;
}

.takeButtonDiv:hover {
    
    transform: scale(1.1);
}

.takeButton p {
    color: white;
    font-size: 20px;
}

.infoDiv {
  background-color: burlywood;
  height: 100vh;
  width: 50vw;
}

video {
  transform: scaleX(-1);
}

.expand {
    flex: 1; /* 50% of container when both are equal */
  }
  
  .shrink {
    flex: 0; /* Shrinks to 0, other takes 100% */
  }
  