.photoDiv {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: purple;
    height: 100vh;
}

.webcamDiv {
    height: 100vh;
    background-color: aqua;
    width: 50vw;
}
.webcam {
    border-radius: 10px;
    background: rgb(0, 28, 128);
    /* width: 70%;
    height: 80% */
}

.infoDiv {
    background-color: burlywood;
    height: 100vh;
    width: 50vw;
}