.container {
  display: flex;
  width: 100%;
  height: 100vh;
  transition: all 0.7s ease;
}

.box {
  transition: width 0.7s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.webcamDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: rgb(234, 234, 234);
}


.webcam {
  border-radius: 10px;
}

.takeButtonDiv {
  margin-top: 1%;
  transition: transform 0.5s linear;
}

.takeButtonShown {
    width: 55%;
    height: 6%;
}

.takeButtonHidden {
    width: 0%;
    height: 0%;
    display: hidden;
    pointer-events: none;
}

.takeButton {
  width: 100%;
  height: 100%;
  background-color: rgb(86, 146, 212);
  border: 0;
  border-radius: 10px;
}

.takeButton:hover {
  cursor: pointer;
}

.takeButtonDiv:hover {
  transform: scale(1.1);
}

.takeButtonTextShown {
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.takeButtonTextHidden {
    display: hidden;
    opacity: 0;
    pointer-events: none;
}



video {
  transform: scaleX(-1);
}

/* Width transitions */
.leftExpanded {
  width: 100%;
}

.leftCollapsed {
  width: 60%;
}

.rightExpanded {
  width: 40%;
}

.rightCollapsed {
  width: 0%;
}
.flashOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    opacity: 0;
    pointer-events: none;
    animation: flashAnim 0.7s ease-out;
    z-index: 9999;
  }
  
  @keyframes flashAnim {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  